
<div class="container">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      Software de ventas
    </div>
    <div class="col-sm">
      <div class="trm">TRM del dia : {{trm}} </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Ventas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/products">Productos <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" routerLink="/sales">Ventas <span class="sr-only"></span></a>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>