
<div class="con">
    <h3>Factura</h3>
    <div style="width: 80%;margin-left: 10em;">
        <form [formGroup]="orderForm" (ngSubmit)="saveSale()" >
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <label for="name">Fecha</label>
                <input type="text" class="form-control" id="fecha" name="fecha" formControlName="fecha" readonly>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <label for="name">Cliente</label>
                <input type="text" class="form-control" id="cliente" name="cliente" formControlName="cliente">               
            </div>

            
            
            <div class="table-responsive" style="margin-top: 2em;">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="items"  *ngFor="let item of orderForm.get('items').controls; let i = index;">
                        <tr [formGroupName]="i">
                            <td>
                                <select formControlName="producto" (change)="calculate()">
                                    <option *ngFor="let p of products" [ngValue]="p">{{p.nombre}}</option>
                                  </select>
                                <!--<input formControlName="producto" placeholder="Producto"> -->
                            </td>
                            <td><input formControlName="cantidad" placeholder="Cantidad" (change)="calculate()"></td>
                            <td><input formControlName="precio" placeholder="Seleccione Producto" readonly></td>
                            <td><input formControlName="total" placeholder="Seleccione Producto" readonly></td>
                            <td><button type="button" class="btn-alert" (click)="deleteItem(i)" name="cancelar">Eliminar</button></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td><input type="text" class="form-control" id="total" name="total" formControlName="total" readonly></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
             

            <div class="form-group col" style="float: right;">
                <button type="submit" class="btn btn-success " [disabled]="orderForm.invalid" name="guardar">Guardar</button>
                <button type="button" class="btn bg-light" (click)="gotoSales()" name="cancelar">Cancelar</button>
            </div>
        </form>
    </div>

    <!--<div>
        <h4>You submitted successfully!</h4>
        
    </div>-->
</div>


