<div class="container h-100">
  <div class="row h-100">
    <div class="col-lg-7 my-auto">
      <div class="header-content mx-auto">
        <h1 class="mb-5">Bienvenido al sistema de ventas </h1>
        <a routerLink="/sales" class="btn btn-outline btn-xl js-scroll-trigger">Para vender haga click aqui</a>
      </div>
      <div class="header-content mx-auto">
        <a routerLink="/products" class="btn btn-outline btn-xl js-scroll-trigger">Para gestionar los productos haga
          click aqui</a>
      </div>
    </div>

  </div>
</div>