<button type="button" class="btn btn-outline-primary" (click)="addVenta()">Agregar Venta</button>
<div class="lista-productos">
        <div *ngIf="(sales | async)?.length > 0">          
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead bg-info">
                            <tr>                              
                                <th>Cliente</th>
                                <th>Fecha</th>
                                <th>Total</th>
                               <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sale of sales | async;let i=index" >                               
                                <td>{{sale.nombreCliente}}</td>
                                <td>{{sale.fecha}}</td>
                                <td>{{sale.total}}</td>    
                                <td > 
                                    <button type="button" class="btn btn-labeled btn-default" (click)="viewSale(i)">
                                    <span class="btn-label"><i class="glyphicon glyphicon-chevron-right">
                                        </i>
                                    </span>
                                    Ver compra
                                </button></td>                          
                            </tr>
                        </tbody>
                    </table>
                </div>
           <!-- </div> -->
    </div>
